body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, button, input, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

fieldset, img {
    border: 0;
}

img, object, embed {
    vertical-align: bottom;
}

address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

q:before, q:after {
    content: '';
}

a * {
    cursor: pointer;
}

input,
textarea {
    outline: none;
}

a {
    text-decoration: none;
}

input {
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;
}

* {
    outline: none;
}

* {
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: border-box;
}

body {
    height: 100%;
    position: relative;
    /*overflow: hidden;*/
}

.intro {
    background: url("../images/bg.png");
    background-size: cover;
}

.intro .container {
    width: 1170px;
    margin: auto;
}

.container:after{
    content: "";
    clear: both;
    display: block;
}

/*header====
========================*/

header {
    padding-top: 42px;
    padding-bottom: 60px;
}

header .logo {
    font: 24px/24px bold, 'Quicksand', sans-serif;
    color: #ffffff;

    text-transform: uppercase;
    letter-spacing: -1px;
    float: left;
}

/*nav====
==========================*/

header nav {
    float: right;
}

header nav ul li{
    margin-left: 20px;

    display: inline-block;
    transition: 0.4s;

    float: right;

    position: relative;
}

header nav ul {
    list-style: none;
}

header nav ul li:after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -13px;
    height: 2px;
    z-index: 1;
    background-color: #008ed6;
    opacity: 0;
}
header nav ul li:before{
    content: "";
    display: block;
    position: absolute;
    right: 50%;
    margin-left: -1px;
    bottom: -13px;
    height: 2px;
    background-color: #16151b;
    width: 2px;
    z-index: 2;
    opacity: 0;
}

header nav ul li a{
    color: #ffffff;
    font: 16px/16px 'Source Sans Pro', sans-serif;
}

header nav ul li:hover:after, header nav ul li:hover:before {
  opacity: 1;
    transition: 0.5s;
}


/*banner====
===========================*/


.banner_information {
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    overflow: hidden;
}


.banner_information .container {
    /*max-width: 1144px;*/
    margin: auto;
}

.banner_information .left h3 {
    font-size: 14px;
    text-transform: uppercase;
    color: #008ed6;

    padding-bottom: 30px;
}

.banner_information .left h1 {
    font-size: 48px;
    font-weight: 400;

    color: #ffffff;

    padding-bottom: 40px;
}

.banner_information .left p{
    font-size: 18px;
    color: #999999;

    padding-bottom: 63px;
}

.banner_information .left a{
    border: 1px solid #4d4e53;
    border-radius: 3px;

    padding: 19px 30px;

    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;

    margin-right: 20px;

    transition: 0.4s;

}

.banner_information .left a:hover{
    background: #008ed6;
}

.left {
    max-width: 510px;

    float: left;
}

.right {
float: right;
}

/*Section====
===========================*/

section .container {
    max-width: 1140px;

    margin: auto;

    padding-top: 65px;

    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;


}

section h3 {
    text-transform: uppercase;
    font-size: 14px;
    color: #008ed6;
}

section h2 {
    font-size: 36px;
    font-weight: bold;
    color: #1a1a1a;

}
section .line{
    margin-top: 30px;
}

section .line:after{
    content: "";
    display: inline-block;
    left: 0;
    width: 20px;
    bottom: -13px;
    height: 2px;
    margin-left: -42px;

    background-color: #008ed6;
}

section .line:before{
    content: "";
    display: inline-block;
    right: 50%;
    margin-right: -1px;
    bottom: -13px;
    height: 2px;
    width: 20px;
    background-color: #008ed6;
}



section .item {
    float: left;
    width: 25%;


    margin-top: 72px;
    margin-bottom: 75px;

    padding: 0 20px;
}


section .item-img{
    border: 1px solid #e2e2e2;
    width: 88px;
    padding: 27px 27px;
    border-radius: 100px;

    margin: auto;
}

section .item h4{
    font-size: 24px;
    font-weight: bold;
    color: black;

    margin-top: 34px;
}

section .item span{
    color: #999999;
    font-size: 18px;
}


.wrap {
    border-top: 1px solid #ededed;
}


section .banner_inner {
    overflow: hidden;

    text-align: left;
}


.banner_inner .left-item {
   float: left;
    width: 50%;
}

.banner_inner .right-item {
    float: right;
    width: 50%;

    margin-top: 50px;
}

.banner_inner .right-item p{
    margin: 30px 0;

    color: #999999;
}

.banner_inner .right-item .line {
    margin-left: 24px;
}

.banner_inner .right-item ul li{
    padding-bottom: 20px;
}

.banner_inner .right-item ul li i{
    color: #0d93d7;
    width: 30px;
}

section .banner-wrapper {
    background: #f2f2f2;
}

section .container {
    overflow: hidden;
}

section .left-item {
    float: left;
    width: 38%;

    margin-top: 80px;

    text-align: left;
}
section .left-item h3{
    margin-bottom: 10px;
}

section .left-item p {
    margin-top: 30px;
}

section .left-item .line {
    margin-left: 25px;
}

section .right-item {
    float: right;

    width: 62%;
}


/*owl
==============*/

section .intro-owl {
    background: url("../images/plans-bg.png") center no-repeat;
    background-size: cover;
}

.owl-dots .owl-dot span{
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: transparent;
    border: solid 1px #79797b;
    margin: 0 10px;
    border-radius: 10px;
}
.owl-dots{
    text-align: center;
    position: relative;
    top: -100px;
}

.owl-dots .owl-dot.active span{
    width: 10px;
    height: 10px;
    border: none;
    background-color: #FFFFFF;
}


section .item-plans {
    margin-top: 80px;
    margin-bottom: 180px;
    padding-bottom: 180px;

    font-family: "Source Sans Pro";
    font-size: 24px;
    color: #ffffff;
}

section .intro-owl h2{
    color: #ffffff;
}

section .item-plans-left {
    float: left;
    width: 50%;

    text-align: left;

}


section .item-plans-right {
    float: right;
    width: 50%;

    text-align: left;

}

section .img-title {
    margin-top: 15px;
}

section .img-title .img-plan {
    display: inline-block;
}

section .img-title p{
    display: inline-block;

    font-size: 16px;
}

/*offer===============
=====================================*/
section .offer {
    background: #15141a;
}

section .offer .title {
    text-align: center;

    padding: 60px 0;
}

section .offer .title p{
    display: inline-block;

    font-family: "Source Sans Pro";
    font-weight: 700;
    font-size: 36px;

    color: #ffffff;

    margin-right: 160px;
}

section .offer .title p span{
    font-weight: 400;
}

section .offer .title a{
    border: 1px solid #4d4e53;
    border-radius: 3px;

    padding: 19px 30px;

    display: inline-block;

    font-family: "Source Sans Pro";
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;

    margin-right: 20px;

    transition: 0.4s;

}

section .offer .title a:hover{
    background: #008ed6;
}


/* Card =================
====================================*/
section .item .card {
    border: 1px solid #e0e0e0;
}

section .item .card h5{
    border-bottom: 1px solid #e0e0e0;

    font-size: 24px;

    padding: 25px 0;
}

section .item .card h6 {
    border-bottom: 1px solid #e0e0e0;

    transition: 0.4s;

    padding-top: 43px;
    padding-bottom: 36px;
}

section .item .card .sub-title {
    color: black;

    font-size: 60px;
}

/*section .item .card .sub-title p{*/
/*    */
/*}*/

section .item .card p{
    padding:  30px;
}

section .item .card span{
    color: #008ed6;
}

section .item .card a{
    border: 1px solid #e0e0e0;
    border-radius: 3px;

    padding: 19px 30px;

    margin-bottom: 28px;

    display: inline-block;

    font-family: "Source Sans Pro";
    color: #008ed6;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;



    transition: 0.4s;

}

.item .card:hover h6{
    background: #008ed6;

    color: #ffffff;
}

.item .card:hover a{
    background: #008ed6;

    color: #ffffff;
}

.item .card:hover h5{
    color: #008ed6;
}

.item .card:hover .sub-title{
    color: #ffffff;
}


/*section-contact=======
===============================*/

.section-contact {
    background: #ededed;

}

section .section-contact .contact-item{
    width: 1170px;
    margin: 0 auto;
}

section .section-contact .item{
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;

    float: left;
    width: 33.33333%;

    text-align: center;
}

section .section-contact .item .phone:before{
     content: "\f3cd";
     font-family: "Font Awesome 5 Free";
     font-size: 40px;
     font-weight: bold;
     color: #0d93d7;

     display: block;

    padding-bottom: 30px;
 }

section .section-contact .item .geo:before{
    content: "\f3c5";
    font-family: "Font Awesome 5 Free";
    font-size: 40px;
    font-weight: bold;
    color: #0d93d7;

    display: block;

    padding-bottom: 30px;
}

section .section-contact .item .mail:before{
    content: "\f0e0";
    font-family: "Font Awesome 5 Free";
    font-size: 40px;
    font-weight: bold;
    color: #0d93d7;

    display: block;

    padding-bottom: 30px;
}

/* Form ======
====================*/


.form {
    max-width: 700px;
    margin: 0 auto;
}

.form .form-wrapper {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: -50px;
    position: relative;

}

.form .form-holder {
    background: #15141a;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: 100%;
}

.form .form-holder .left-form{
    padding: 30px 15px 0 40px;

    width: 50%;
}

.form .left-form input{
    display: block;
    background: #15141a;
    color: #ffffff;
    text-transform: uppercase;

    margin-bottom: 24px;

    padding: 15px 10px;

    width: 100%;

    border: 1px solid #444348;
}



.form .form-holder .right-form{
    width: 50%;

    padding: 30px 40px 60px 15px;
}

.form .right-form .textarea{
    width: 100%;
    height: 189px;

    background: #15141a;

    border: 1px solid #444348;

    color: #ffffff;

    text-transform: uppercase;
}

.form .right-form .btn-form {
    margin-top: 40px;
}

.form .form-holder .right-form a{
    border: 1px solid #444348;
    border-radius: 3px;


    padding: 19px 30px;

    margin: 20px 20px 28px 20px;


    font-family: "Source Sans Pro";
    color: #008ed6;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;

    transition: 0.4s;
}

.form .form-holder a:hover{
    background: #008ed6;

    color: #ffffff;
}

/*map=====================================
=================================================*/
section .map iframe{
    width: 100%;
    height: 375px;
    background-size: cover;
}

/*footer==========
==========================*/
footer {
    background: #15141a;
}

footer .footer-inner {
   text-align: center;
}

footer .footer-item{
    display: inline-block;
    margin: 55px 0 30px 0;
}

footer .footer-item .item{
    display: inline-block;
}

footer .footer-item .item i{
    margin: 0 15px;
    color: #444348;
}

footer .footer-item .item i:hover{
    color: #008ed6;
}

footer .footer-title{
    font-family: "Source Sans Pro";
    font-weight: 400;
    color: #444348;
    text-transform: uppercase;
    font-size: 14px;

    padding-bottom: 45px;
}

/*media=======================
======================================*/



@media only screen and (max-width: 1024px){
   .intro .container {
       width: 100%;

       padding: 0 15px;
   }

    section .banner-wrapper .left-item{
        padding-left: 5px;
    }

    section .banner-wrapper .right-item {
        padding-right: 10px;
    }

    .owl .intro-owl .item-plans-left {
        padding-left: 5px;
    }

    .owl .intro-owl .item-plans-left,
    .owl .intro-owl .item-plans-right {
        width: 48%;
    }

    .owl .intro-owl .item-plans-left span,
    .owl .intro-owl .item-plans-right span {
        font-size: 18px;

    }


    section .offer {
        display: block;
    }

    section .offer .title p{
        display: block;
        text-align: center;
        margin-right: auto;
    }

    section .offer .title a{
        margin-top: 20px;
    }

    section .item .card p{
        padding:  15px;
    }

    section .section-contact .contact-item{
        width: 1024px;
    }

    section .section-contact .item {
        margin-top: 60px;
        margin-bottom: 250px;
    }

}




@media only screen and (max-width: 992px) {

}



@media only screen and (max-width: 768px) {

    .banner_information {
        margin: auto;
        text-align: center;
    }

    .banner_information .left {
        max-width: 786px;
        margin-bottom: 60px;
    }

    .banner_information .left h1{
        font-size: 30px;
    }

    .banner_information .right {
        display: none;
    }

    .item {
        margin-top: 25px;
        margin-bottom: 50px;
    }

     section .item h4{
        font-size: 18px;
    }

    section .item span {
        font-size: 14px;
    }

    .wrap .container {
        padding-top: 20px;
    }

    .wrap .left-item img{
        width: 100%;
    }

    .banner-wrapper .left-item {
        width: 50%;

        margin-top: 0;
        padding-left: 10px;
    }

    .banner-wrapper .left-item p{
        font-size: 15px;

        padding-bottom: 10px;
    }

    .banner-wrapper .right-item {
        width: 50%;
    }

    .banner-wrapper .right-item img {
        width: 100%;
    }

    .owl .intro-owl .item-plans-left {
        padding-left: 5px;
    }

    .owl .intro-owl .item-plans-right {
        padding-right: 5px;
    }

    .owl .intro-owl .item-plans-left,
    .owl .intro-owl .item-plans-right {
        width: 48%;
    }

    .owl .intro-owl .item-plans-left span,
    .owl .intro-owl .item-plans-right span {
        font-size: 14px;
    }

    .owl .intro-owl .item-plans-left img,
    .owl .intro-owl .item-plans-right img {
        width: 70%;

        margin-left: 10px;
    }

    .owl .intro-owl .item-plans-left p,
    .owl .intro-owl .item-plans-right p {
        font-size: 10px;

    }

    section .item {
        margin: 20px 0;
    }

    section .item .card h5 {
        font-size: 20px;
    }

    section .item .card h6 {
        padding: 20px 0;
    }

    section .item .card .sub-title {
        font-size: 35px;
    }

    section .item .card p {
        font-size: 10px;
    }

    section .item .card a {
        padding: 10px 15px;
        font-size: 10px;
    }

    section .section-contact .contact-item{
        width: 768px;
    }

    footer .footer-inner .footer-item {
        margin: auto;
    }

    footer .footer-inner .item {
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 375px) {
    .intro header {
        padding-bottom: 15px;
    }

    .intro nav {
        float: none;
    }

    .intro nav li{
        padding-bottom: 5px;
    }

    .banner_information .left a {
        padding: 15px 20px;
    }

    section .item {
        width: 100%;
    }

    .banner_inner .left-item {
        width: 100%;
    }

    .banner_inner .right-item {
        width: 100%;
        padding: 0 10px;
        margin-top: 5px;
    }

    section .banner-wrapper .left-item {
        width: 100%;
        text-align: center;
    }

    section .banner-wrapper .right-item {
        width: 100%;
        padding: 0 10px;
    }

    section .offer .title {
        font-size: 20px;
    }

    section .item-plans {
        margin-top: 30px;
        font-size: 13px;
    }

    section .offer .title a {
        padding: 15px 20px;
        margin-left: 10px;
    }

    section .section-contact .contact-item {
        width: 375px;
    }

    section .section-contact .contact-item .item{
        width: 100%;

        margin-top: 20px;
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 320px) {
    .banner_information .left a {
       margin: 0 auto;
    }

    section .offer .title {
        font-size: 20px;
    }

    section .item-plans {
        margin-top: 30px;
        font-size: 13px;
    }

    section .offer .title a {
    margin: 0 auto;
    }


    section .section-contact .contact-item {
        width: 325px;
    }

    section .section-contact .contact-item .item{
        width: 100%;

        margin-top: 20px;
        margin-bottom: 10px;
    }
}